@model ProductListVM
@using StoreMVC.Controllers;
@using System.Globalization;
@using System.ComponentModel;
@using System.Linq;

@{
    ViewBag.Title = Model.Params.Category;
}

<br />

<div class="row fixedHeader" id="myHeader">
    <div class="col-10">
    </div>
    <div class="col-2">
        <div class="justify-content-end">
            <select id="ordering" class="custom-select justify-content-end" aria-label="Default select example" onchange="Find()">
                <option selected>Order by</option>
                <option value="@Model.Params.Category&Ordering=@Ordering.OrderByLowestPrice&PageNumber=@Model.Params.PageNumber">From cheaper to expensive </option>
                <option value="@Model.Params.Category&Ordering=@Ordering.OrderByHighestPrice&PageNumber=@Model.Params.PageNumber">From expensive to cheaper</option>
                <option value="@Model.Params.Category&Ordering=@Ordering.OrderByNewest&PageNumber=@Model.Params.PageNumber">Newest</option>
            </select>
        </div>
    </div>
</div>

<h1><span class="badge bg-success text-white">@Model.Params.Category</span></h1>

<hr />
<div class="card-deck">
    @foreach (var product in Model.Products)
    {
        <div class="card m-1 p-1" onclick="Details(@product.Id)" style="min-width: 18rem; max-width:30.5%;">
            <img class="card-img-top imgThumbnail" src="~/Images/@product.Image" asp-append-version="true" />

            <div class="card-header" style="height:90%">
                <a class="fill-div" asp-action="Details" asp-route-id="@product.Id">@product.ProductName</a>
            </div>
            <div class="row pt-2 pb-2">
                <div class="col-6 text-center">
                    <h5>@product.Price.ToString("c", CultureInfo.CreateSpecificCulture("en-US"))</h5>
                </div>
                <div class="col-6 text-center">
                    <partial name="ProductSummary" model="product" />
                </div>
            </div>

        </div>
    }
</div>
<br />
<div class="row">
    @if (Model.Params.RequestMetaData.HasPrevious)
    {
        <div class="col-2 justify-content-center">
            <div class="justify-content-center">
                <a class="btn btn-outline-success" style="height:100%; width:100%" asp-controller="Home" asp-action="GetProductsByCategory"  asp-route-category="@Model.Params.Category" asp-route-ordering="@Model.Params.Ordering" asp-route-pagenumber="@(Model.Params.PageNumber-1)"><i class="fas fa-backward fa-2x"></i></a>
            </div>
        </div>
    }
    else
    {
        <div class="col-2 justify-content-center">
            <div class="justify-content-center">
                <button class="btn btn-outline-success" style="height:100%; width:100%" disabled><i class="fas fa-backward fa-2x"></i></button>
            </div>
        </div>
    }

    <div class="col-8">
    </div>


    @if(Model.Params.RequestMetaData.HasNext){
            <div class="col-2 justify-content-end">
        <div class="justify-content-end">
            <a class="btn btn-outline-success" style="height:100%; width:100%" asp-controller="Home" asp-action="GetProductsByCategory"  asp-route-category="@Model.Params.Category" asp-route-ordering="@Model.Params.Ordering" asp-route-pagenumber="@(Model.Params.PageNumber+1)"><i class="fas fa-forward fa-2x"></i></a>
        </div>
    </div>
    }else{
        <div class="col-2 justify-content-end">
        <div class="justify-content-end">
            <button class="btn btn-outline-success" style="height:100%; width:100%" disabled><i class="fas fa-forward fa-2x"></i></button>
        </div>
    </div>
    }

</div>

<script>
    function Find() {
        var param = document.getElementById("ordering");
        location.href = "/Home/GetProductsByCategory?category=" + param.value;
    }

    function Details(id) {
        location.href = "/Home/Details/" + id;
    }
</script>