@page "/cart"
@model StoreMVC.Pages.CartModel
@using System.Globalization
@{
}

<h4>Your cart</h4>
<hr />

@if (Model.Cart.Lines.Count == 0)
{
    <div class="text-center">
        <h3>Sorry, cart is empty</h3>
    </div>
    <br />
    <div class="text-center">
        <a class="btn-btn-primary" asp-action="Index" asp-controller="Home">Continue Shopping</a>
    </div>
    <div>

    </div>
}
else
{
    @foreach (var item in Model.Cart.Lines)
    {
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img class="rounded" width="140" height="140" src="~/Images/@item.Product.Image" />
                </div>
                <div class="col-8 text-left">
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Product.Id">@item.Product.ProductName</a>
                </div>
                <div class="col-2 text-right">
                    <form asp-page-handler="Remove" asp-route-id="@item.Product.Id" method="post">
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
            <br />
            <div class="row d-flex align-items-center">
                <div class="col-6">

                </div>
                <div class="row col-2">
                    <div class="col-4 d-flex align-items-center justify-content-start">
                        <form asp-page="/Cart" asp-route-id="@item.Product.Id" method="post">
                            <input type="hidden" asp-for="@item.Product.Id" />
                            <span class="card-text">
                                <button type="submit"
                                        class="btn btn-success btn-sm pull-right" style="float:right">
                                    <i class="fas fa-plus fa-1x"></i>
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="col-4 justify-content-center d-flex align-items-center justify-content-center">
                        <h4 class="m-0">@item.Count</h4>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-end">
                        <form asp-page-handler="Minus" asp-route-id="@item.Product.Id" method="post">
                            <input type="hidden" asp-for="@item.Product.Id" />
                            <span class="card-text">
                                <button type="submit"
                                        class="btn btn-success btn-sm pull-right" style="float:right">
                                    <i class="fas fa-minus fa-1x"></i>
                                </button>
                            </span>
                        </form>
                    </div>
                </div>

                <div class="col-4 d-flex justify-content-end align-items-center">
                    <h5 class="m-0">@((@item.Product.Price * @item.Count).ToString("c", CultureInfo.CreateSpecificCulture("en-US")))</h5>
                </div>
            </div>
        </div>
        <hr />
    }
    <br />
    <div class="row d-flex align-items-center">
        <div class="col-6 d-flex align-items-center">
            <a class="btn btn-warning font-weight-bold" asp-action="Index" asp-controller="Home">Continue Shopping</a>
        </div>
        <div class="col-2">

        </div>
        <div class="border-success col-4 d-flex align-items-center align-self-center">
            <div class="row badge-light rounded p-4">
                <div class="col-6 text-right d-flex align-items-center">
                    <h3>
                        @Model.Cart.ComputeTotalPrice().ToString("c", CultureInfo.CreateSpecificCulture("en-US"))
                    </h3>
                </div>
                <div class="col-6">
                    <a asp-controller="Order" asp-action="Checkout" class="btn btn-lg btn-success">Checkout</a>
                </div>
            </div>
        </div>
    </div>
}


