@model StoreAdminMVC.ViewModels.Order.OrderGetByIdVM

@using System.Globalization

@{
    ViewData["Title"] = "Details";
}


<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>Order #@Model.Id</h1>
            </div>

            <div class="card-body text-center">
                <h4>Payment type : @Model.PaymentType</h4>
                <h4>Customer : @Model.FullName</h4>
                <h4>Customer Phone : @Model.Phone</h4>
                <table>
                    @foreach (var item in Model.OrderDetailProducts)
                    {
                        <tbody>
                            <tr>
                                <td>@item.ProductName</td>
                                <td>@item.Count</td>
                            </tr>
                        </tbody>
                    }
                </table>
                

            </div>
            <div class="card-footer text-center">
                <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Back</a>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success m-1">Edit</a>
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    </div>
</div>